*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #596d48;
}

@font-face {
  font-family: "Norse-Bold";
  src: url(./fonts/Norse-Bold.otf) format("opentype");
}

body {
  overflow-y: hidden;
  min-height: 100vh;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

#left {
  display: flex;
  width: 24vw;
  background-image: url(images/trees.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.odin-text {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  text-align: center;
  font-family: "Norse-Bold";
  top: 180px;
  width: 100%;
  height: 120px;
  line-height: 120px;
  font-size: 4.2rem;
}

footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  text-align: center;
  font-size: 0.7rem;
}

.odin-text::before {
  display: inline-block;
  position: relative;
  content: "";
  height: 1.6em;
  width: 1.2em;
  top: -10px;
  vertical-align: middle;
  background: no-repeat url(images/odin-lined.png);
  background-size: cover;
}

#right {
  width: 40vw;
}

.grabber-text,
.account-options {
  height: 35%;
  background-color: rgb(250, 250, 250);
}

.grabber-text p:first-child {
  padding-top: 120px;
}

.grabber-text p {
  padding: 40px;
  padding-bottom: 0;
  padding-right: 80px;
  font-size: 20px;
  font-weight: 700;
}

form {
  height: 30%;
  padding: 15px 40px 15px 40px;
  background: white;
  border: #e5e7eb;
  box-shadow: 0px 2px 3px 2px #ddd;
  margin-bottom: 25px;
}

form p {
  font-size: 20px;
  font-weight: 700;
}

label {
  font-size: 0.7rem;
  font-weight: 900;
  padding-bottom: 3px;
  color: #777;
}

.name-info,
.contact-info,
.password-info {
  width: 100%;
}

form > :not(:first-child) {
  margin-top: 20px;
}

form section {
  display: inline-block;
  width: 45%;
}

input {
  width: 80%;
  padding: 5px;
  border: solid 1px #e5e7eb;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border: 1px solid skyblue;
  box-shadow: 2px 2px 1px #ccc;
}

label {
  display: block;
  width: 150%;
}

.account-options {
  height: 35%;
}

.account-options button {
  margin: 0 20px 20px 40px;
  padding: 10px 35px 10px 35px;
  border-radius: 8px;
  background-color: var(--accent-color);
  color: white;
  border-color: #e5e7eb;
  font-size: 0.9rem;
  font-weight: 900;
}

.account-options button:active:focus {
  transform: scale(0.99);
}

.account-options p {
  margin-left: 40px;
  padding-top: 10px;
}

.account-options a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 900;
}

.error {
  border: 1px solid #c00;
}

.error-message {
  color: #c00;
  font-size: 0.75rem;
  padding: 2px;
}

.buffer {
  width: 18vw;
  background-color: black;
}
